@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);

html {
  background: #3BA98A;
}

.chat-list {
  font-family: 'Open Sans', sans-serif;
  padding: 50px;
  height: 100vh;
}

.chats {
  display: flex;
  display: -webkit-flex;
}

.manifest {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.state {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 100%;
  width: 170px;
  height: 170px;
  align-items: center;
  justify-content: center;
}

.active {
  background: #9ffaa2;
}

.busy {
  background: #ffe98f;
}

.solved {
  background: #f8f8f8;
}

.engaged {
  background: #cbecfe;
}

.profile-pic {
  display: flex;
  display: -webkit-flex;
  overflow: hidden;
  border-radius: 100%;
  height: 155px;
  width: 155px;

  -webkit-box-shadow: 0 0 17px -2px rgba(0,0,0,0.25);
  -moz-box-shadow: 0 0 17px -2px rgba(0,0,0,0.25);
  box-shadow: 0 0 17px -2px rgba(0,0,0,0.25);
}

img {
  width: 155px;
  align-self: center;
}

.name {
  padding: 10px;
  font: bold;
  font-size: 12px;
  color: #505050;
}

.footer {
  margin-top: 50px;
}
