@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);

a {
  text-decoration: none;
}

.main-container {
  background: white;
  font-family: 'Open Sans', sans-serif;
}


/* */


.bounce {
  animation: bounce ease .5s;
}

@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(-50px);}
  40% {-webkit-transform: translateY(-30px);}
  60% {-webkit-transform: translateY(-15px);}
}

@keyframes bounce {
  0% {transform: translateY(50px);}
  40% {transform: translateY(-30px);}
  70% {transform: translateY(5px);}
  100% {transform: translateY(0px);}
}

.bottom-notifications {
  display: flex;
  width: 98%;
  margin-top: 10px;
  padding: 0 10px;
  align-items: center;
  justify-content: space-between;
}

.engaged-single-container {
  width: 30px;
  height: 30px;
  display: flex;
  margin-right: 10px;
  cursor: pointer;
  position: relative;
}

.engaged-notifications {
  display: flex;
}

.img-container {
  border-top-right-radius: 100px;
  border-top-left-radius: 100px;
  border-bottom-right-radius: 100px;
  border-bottom-left-radius: 100px;
  overflow: hidden;
  display: flex;
  width: 30px;
  height: 30px;
}

.dot {
  padding: 4px;
  background: RGBA(0, 131, 255, 1);
  border-radius: 100%;
  position: absolute;
  bottom: -6px;
  left: 10px;
  border: 2px solid white;
}

.xsm-image {
  width: 30px;
}

.notification-container {
  box-sizing: border-box;
  width: 125px;
  padding: 0 5px;
  overflow: hidden;
  color: RGBA(0, 131, 255, 0.75);
  letter-spacing: 1px;
  font-weight: 300;
}

.notification {
  display: flex;
  justify-content: space-around;
  padding: 9px 0;
  font-size: 15px;
}

.notification-animation-in{
  animation: animationFramesIn ease .2s;
  animation-iteration-count: 1;
  transform-origin: 50% 50%;
  animation-fill-mode:forwards;
  -webkit-animation: animationFramesIn ease .2s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-fill-mode:forwards;
  -moz-animation: animationFramesIn ease .2s;
  -moz-animation-iteration-count: 1;
  -moz-transform-origin: 50% 50%;
  -moz-animation-fill-mode:forwards;
  -o-animation: animationFramesIn ease .2s;
  -o-animation-iteration-count: 1;
  -o-transform-origin: 50% 50%;
  -o-animation-fill-mode:forwards;
  -ms-animation: animationFramesIn ease .2s;
  -ms-animation-iteration-count: 1;
  -ms-transform-origin: 50% 50%;
  -ms-animation-fill-mode:forwards;
}

.hide {
  display: none;
}

@keyframes animationFramesIn{
  0% {
    transform:  translateY(500px);
  }
  80% {
    transform:  translateY(0px);
  }
  90% {
    transform:  translateY(5px);
  }
  100% {
    transform:  translateY(0px);
  }
}

@-moz-keyframes animationFramesIn{
  0% {
    transform:  translateY(500px);
  }
  80% {
    transform:  translateY(0px);
  }
  90% {
    transform:  translateY(5px);
  }
  100% {
    transform:  translateY(0px);
  }
}

@-webkit-keyframes animationFramesIn {
  0% {
    transform:  translateY(500px);
  }
  80% {
    transform:  translateY(0px);
  }
  90% {
    transform:  translateY(5px);
  }
  100% {
    transform:  translateY(0px);
  }
}

@-o-keyframes animationFramesIn {
  0% {
    transform:  translateY(500px);
  }
  80% {
    transform:  translateY(0px);
  }
  90% {
    transform:  translateY(5px);
  }
  100% {
    transform:  translateY(0px);
  }
}

@-ms-keyframes animationFramesIn {
  0% {
    transform:  translateY(500px);
  }
  80% {
    transform:  translateY(0px);
  }
  90% {
    transform:  translateY(5px);
  }
  100% {
    transform:  translateY(0px);
  }
}

.notification-animation-out{
  animation: animationFramesOut ease .5s;
  animation-iteration-count: 1;
  transform-origin: 50% 50%;
  animation-fill-mode:forwards;
  -webkit-animation: animationFramesOut ease .5s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-fill-mode:forwards;
  -moz-animation: animationFramesOut ease .5s;
  -moz-animation-iteration-count: 1;
  -moz-transform-origin: 50% 50%;
  -moz-animation-fill-mode:forwards;
  -o-animation: animationFramesOut ease .5s;
  -o-animation-iteration-count: 1;
  -o-transform-origin: 50% 50%;
  -o-animation-fill-mode:forwards;
  -ms-animation: animationFramesOut ease .5s;
  -ms-animation-iteration-count: 1;
  -ms-transform-origin: 50% 50%;
  -ms-animation-fill-mode:forwards;
}

@keyframes animationFramesOut{
  0% {
    transform:  translateY(0)  ;
  }
  100% {
    transform:  translateY(500px)  ;
  }
}

@-moz-keyframes animationFramesOut{
  0% {
    transform:  translateY(0)  ;
  }
  100% {
    transform:  translateY(500px)  ;
  }
}

@-webkit-keyframes animationFramesOut {
  0% {
    transform:  translateY(0)  ;
  }
  100% {
    transform:  translateY(500px)  ;
  }
}

@-o-keyframes animationFramesOut {
  0% {
    transform:  translateY(0)  ;
  }
  100% {
    transform:  translateY(500px)  ;
  }
}

@-ms-keyframes animationFramesOut {
  0% {
    transform:  translateY(0)  ;
  }
  100% {
    transform:  translateY(500px)  ;
  }
}


/* */




.menu-widget-container {
  box-sizing: border-box;
  letter-spacing: 1px;
  position: fixed;
  bottom: 60px;
  right: 0;
  z-index: 999999;
  width: 265px;
  padding: 0 15px;
  max-height: calc(100% - 30px);
  overflow-x: hidden;
  overflow-y: auto;
  cursor: pointer;
}

.menu-widget {
  display: flex;
  justify-content: space-around;
  box-sizing: border-box;
  padding: 17px 16px;
  border-radius: 2px;
  color: #fff;
  box-shadow: 0 0 1px #999;
  font-size: 15px;
  line-height: 15px;
  opacity: 0.9;
  margin-top: 15px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  align-items: center;
}

.menu-widget-undo {
  color: black;
  font-weight: bold;
}

.menu-widget-animation-in{
  animation: animationWidgetIn ease .2s;
  animation-iteration-count: 1;
  transform-origin: 50% 50%;
  animation-fill-mode:forwards;
  -webkit-animation: animationWidgetIn ease .2s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-fill-mode:forwards;
  -moz-animation: animationWidgetIn ease .2s;
  -moz-animation-iteration-count: 1;
  -moz-transform-origin: 50% 50%;
  -moz-animation-fill-mode:forwards;
  -o-animation: animationWidgetIn ease .2s;
  -o-animation-iteration-count: 1;
  -o-transform-origin: 50% 50%;
  -o-animation-fill-mode:forwards;
  -ms-animation: animationWidgetIn ease .2s;
  -ms-animation-iteration-count: 1;
  -ms-transform-origin: 50% 50%;
  -ms-animation-fill-mode:forwards;
}

@keyframes animationWidgetIn{
  0% {
    opacity:0;
    transform:  translate(500px,0px)  ;
  }
  80% {
    opacity:1;
    transform:  translate(0px,0px)  ;
  }
  90% {
    opacity:1;
    transform:  translate(5px,0px)  ;
  }
  100% {
    opacity:1;
    transform:  translate(0px,0px)  ;
  }
}

@-moz-keyframes animationWidgetIn{
  0% {
    opacity:0;
    transform:  translate(500px,0px)  ;
  }
  80% {
    opacity:1;
    transform:  translate(0px,0px)  ;
  }
  90% {
    opacity:1;
    transform:  translate(5px,0px)  ;
  }
  100% {
    opacity:1;
    transform:  translate(0px,0px)  ;
  }
}

@-webkit-keyframes animationWidgetIn {
  0% {
    opacity:0;
    transform:  translate(500px,0px)  ;
  }
  80% {
    opacity:1;
    transform:  translate(0px,0px)  ;
  }
  90% {
    opacity:1;
    transform:  translate(5px,0px)  ;
  }
  100% {
    opacity:1;
    transform:  translate(0px,0px)  ;
  }
}

@-o-keyframes animationWidgetIn {
  0% {
    opacity:0;
    transform:  translate(500px,0px)  ;
  }
  80% {
    opacity:1;
    transform:  translate(0px,0px)  ;
  }
  90% {
    opacity:1;
    transform:  translate(5px,0px)  ;
  }
  100% {
    opacity:1;
    transform:  translate(0px,0px)  ;
  }
}

@-ms-keyframes animationWidgetIn {
  0% {
    opacity:0;
    transform:  translate(500px,0px)  ;
  }
  80% {
    opacity:1;
    transform:  translate(0px,0px)  ;
  }
  90% {
    opacity:1;
    transform:  translate(5px,0px)  ;
  }
  100% {
    opacity:1;
    transform:  translate(0px,0px)  ;
  }
}

.menu-widget-animation-out{
  animation: animationWidgetOut ease .5s;
  animation-iteration-count: 1;
  transform-origin: 50% 50%;
  animation-fill-mode:forwards;
  -webkit-animation: animationWidgetOut ease .5s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-fill-mode:forwards;
  -moz-animation: animationWidgetOut ease .5s;
  -moz-animation-iteration-count: 1;
  -moz-transform-origin: 50% 50%;
  -moz-animation-fill-mode:forwards;
  -o-animation: animationWidgetOut ease .5s;
  -o-animation-iteration-count: 1;
  -o-transform-origin: 50% 50%;
  -o-animation-fill-mode:forwards;
  -ms-animation: animationWidgetOut ease .5s;
  -ms-animation-iteration-count: 1;
  -ms-transform-origin: 50% 50%;
  -ms-animation-fill-mode:forwards;
}

@keyframes animationWidgetOut{
  0% {
    transform:  translate(0px,0px)  ;
  }
  100% {
    transform:  translate(500px,0px)  ;
  }
}

@-moz-keyframes animationWidgetOut{
  0% {
    transform:  translate(0px,0px)  ;
  }
  100% {
    transform:  translate(500px,0px)  ;
  }
}

@-webkit-keyframes animationWidgetOut {
  0% {
    transform:  translate(0px,0px)  ;
  }
  100% {
    transform:  translate(500px,0px)  ;
  }
}

@-o-keyframes animationWidgetOut {
  0% {
    transform:  translate(0px,0px)  ;
  }
  100% {
    transform:  translate(500px,0px)  ;
  }
}

@-ms-keyframes animationWidgetOut {
  0% {
    transform:  translate(0px,0px)  ;
  }
  100% {
    transform:  translate(500px,0px)  ;
  }
}


.message {
  font-weight: bold;
  font-size: 12px;
  color: black;
  letter-spacing: 1px;
}

.message-img {
  width: 500px;
}

#app {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
}

.header {
  padding-top: 10px;
  width: 100%;
  height: 70px;
  background: RGBA(255, 255, 255, 0.70);
  position: fixed;
  z-index: 1;
  align-items: center;
}

.header-content {
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  max-width: 1400px;
  margin: 0 auto;
  padding-top: 10px;
}

.logo img {
  width: 100px;
  padding-left: 20px;
}

.chats {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
  max-width: 1440px;
  margin: 100px auto 40px auto;
  height: 70vh;
}

.manifest {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.state {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 100%;
  width: 170px;
  height: 170px;
  align-items: center;
  justify-content: center;
}

.state-filter {
  display: flex;
  display: -webkit-flex;
  padding-right: 20px;
}

.state-filter-single {
  padding: 12px;
  border-radius: 100%;
  width: 10px;
  height: 10px;
  margin-right: 3px;
  border: 1px solid lightgray;
  position: relative;
}

.selected {
  padding: 15px;
  -webkit-box-shadow: 0 0 2px -1px rgba(0,0,0,0.20);
  -moz-box-shadow: 0 0 2px -1px rgba(0,0,0,0.20);
  box-shadow: 0 0 2px -1px rgba(0,0,0,0.20);
}

.all {
  border-top: 1px solid RGBA(83, 248, 106, 0.70);
  border-left: 1px solid RGBA(255, 211, 0, 0.53);
  border-bottom: 1px solid RGBA(186, 191, 189, 0.50);
  border-right: 1px solid RGBA(0, 131, 255, 0.75);
}

.active {
  background: RGBA(83, 248, 106, 0.70);
}

.busy {
  background: RGBA(255, 211, 0, 0.53);
}

.solved {
  background: RGBA(186, 191, 189, 0.50);
}

.engaged {
  background: RGBA(0, 131, 255, 0.75);
}

.profile-pic {
  display: flex;
  display: -webkit-flex;
  overflow: hidden;
  border-radius: 100%;
  height: 155px;
  width: 155px;
  -webkit-box-shadow: 0 0 2px 1px rgba(0,0,0,0.25);
  -moz-box-shadow: 0 0 2px 1px rgba(0,0,0,0.25);
  box-shadow: 0 0 2px 1px rgba(0,0,0,0.25);
}

img {
  width: 155px;
  align-self: center;
}

.name {
  padding: 10px;
  font: bold;
  font-size: 12px;
  color: #505050;
}

.manifest-sm {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  margin: -5px 30px 0 0;
  cursor: pointer;
}

.state-sm {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 100%;
  min-width: 93px;
  height: 93px;
  align-items: center;
  justify-content: center;
}

.profile-pic-sm {
  display: flex;
  display: -webkit-flex;
  overflow: hidden;
  border-radius: 100%;
  height: 83px;
  width: 83px;
  -webkit-box-shadow: 0 0 2px 1px rgba(0,0,0,0.25);
  -moz-box-shadow: 0 0 2px 1px rgba(0,0,0,0.25);
  box-shadow: 0 0 2px 1px rgba(0,0,0,0.25);
}

.profile-pic {
  width: 155px;
  align-self: center;
}

.profile-img-sm {
  width: 85px;
  align-self: center;
}

.message-list {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  overflow: hidden;
  height: 100vh;
}


.messages {
  display: flex;
  display: -webkit-flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  flex-direction: column;
  width: 67%;
  max-width: 750px;
  height: 100vh;
  max-height: 70vh;
  margin: 100px auto 0 auto;
  overflow-y: scroll;
}

.messages::-webkit-scrollbar { width: 0 !important } /* TEMP */
.textarea::-webkit-scrollbar { width: 0 !important }

.text {
  margin: 10px 0;
  padding: 7px 12px;
  max-width: 450px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.consumer {
  align-self: flex-start;
  background: RGBA(123, 248, 106, 0.58);
  border-bottom-right-radius: 10px;
}

.memberService, .bot {
  align-self: flex-end;
  border-bottom-left-radius: 10px;
  background: RGBA(0, 131, 255, 0.55);
}

.bot {
  background: RGBA(186, 191, 189, 0.50);
}

.input-container {
  width: 67%;
  max-width: 750px;
  margin: 0 auto;
}

.input-area {
  width: 100%;
  max-width: 750px;
  display: flex;
  margin: 0 auto;
}

textarea {
  outline: none;
  width: 100%;
  height: auto;
  margin: 0 auto;
  min-height: 45px;
  font-size: 16px;
  padding: 10px 15px;
  box-sizing: border-box;
  resize: none;
  border: 1px solid RGBA(181, 185, 182, 0.26);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.disabled {
  background: lightgray;
}

.input-container a {
  align-self: center;
  margin-top: 4px;
  width: 5%;
  } /* remove? */

  .options-message {
    margin-right: 13px;
    border: none;
    background: transparent;
    width: 65%;
  }

  .footer {
    padding-top: 20px;
    text-align: center;
    font-size: 10px;
    /*width: 62%;*/
    margin: 20px auto;
  }
